# IntelliJ IDEA
.idea/*
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Arquivos compilados
*.class

# Arquivos de pacotes
*.jar
*.war
*.ear

# Logs
*.log
log/
logs/

# Diretórios de trabalho do IscTorrent (com arquivos de teste)
dl1/
dl2/
dl3/
dl*/

# Arquivos específicos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Arquivos temporários
*~
*.swp
*.swo